@using CapaEntidad
@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@{
    ViewBag.Title = "PDF";
    FichaSintomatologicaEntidad ficha = (FichaSintomatologicaEntidad)ViewBag.ficha;
    EmpresaEntidad empresa = (EmpresaEntidad)ViewBag.empresa;
}

@{
    ViewBag.Title = "Ficha Salud";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/assets/images/required/logo-default.ico">

    <title>Ficha Salud</title>

    <!-- Required CSS Files -->
    <link type="text/css" href="~/Content/assets/css/required/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href='~/fonts/fonts.googleapis/css2ca8.css?family=Roboto:400,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.theme.min.css" rel="stylesheet" />

    <link type="text/css" href="~/Content/assets/css/required/icheck/all.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/fonts/metrize-icons/styles-metrize-icons.css" rel="stylesheet">
    <link type="text/css" href="~/Content/assets/fonts/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />


    <!-- Optional CSS Files -->

    <link type="text/css" href="~/Content/assets/css/optional/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/fullcalendar/circloid-fullcalendar.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link type="text/css" href="~/Content/assets/css/optional/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/select2.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/bootstrapValidator.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/optional/jquery-confirm.css" rel="stylesheet" />

    <!-- add CSS files here -->
    <!-- More Required CSS Files -->
    <link type="text/css" href="~/Content/assets/css/styles-core.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/styles-core-responsive.css" rel="stylesheet" />
    <style>
        fieldset {
            border: 1px solid #3c3838 !important;
            border-radius: 4px !important;
        }

        legend {
            width: auto !important;
            margin-bottom: 0px;
            border-bottom: none !important;
        }

        input[type=checkbox] {
           
        }

        div.form-control {
            border: 1px solid;
            height: 28px !important;
        }

        .tablemodal {
            font-size: 12px !important;
        }

            .tablemodal tbody tr th, .tablemodal tbody tr td {
                border-top: none !important;
            }
        table td, table th {
            font-size: 16px !important;
            color: #000000;
        }
            label{
                font-size:16px!important;
            }
        div.form-control {
            font-size: 16px !important;
        }
    </style>
</head>
<body style="background:#ffffff">

    <div class="container-fluid">
        <div id="body-container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3 text-center" style="width:25%;float:left">
                            @if (ViewBag.logoSala == "")
                            {
                                <img src="~/Content/assets/images/no_image.jpg" class="img-responsive img_logo" style="padding-top: 14px;width: 115px;height:110px;margin: auto;" />
                            }
                            else
                            {
                                <img src="@ViewBag.logoSala" class="img-responsive" style="padding-top: 5px;width: 115px;height:110px;margin: auto;" />
                            }
                            
                        </div>
                        <div class="col-md-7" style="width:65%;float:left">
                            <p>
                                <h2 style="font-size: 24px; line-height: 1.1"><b>FICHA DIARIA DE CONDICIONES DE SALUD</b></h2>
                            </p>
                            <div style="line-height: 0.9;">
                                <p>Fecha :  <span id="spnFecha"><b>@ficha.Fecha</b></span></p>
                                <p id="prazonSocial"><b> <span id="spnRazonSocial">@empresa.RazonSocial</span></b> - RUC:  <span id="spnRUC">@empresa.Ruc</span></p>
                                <p id="pdireccion"> <span id="spnDireccionEmpresa">@empresa.Direccion</span></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" style="margin-top: 14px;">

                    <div class="col-md-6 col-sm-12 col-xs-12" style="width:100%;float:left">
                        <fieldset style="margin: 8px; border: 1px solid silver; padding: 8px; border-radius: 4px;padding:10px">
                            <legend style="padding: 2px; ">
                                <b>Datos colaborador(a)</b>
                            </legend>

                            <div class="row">
                                <div class="col-md-6" style="width:50%;float:left">
                                    <div class="form-group">
                                        <label for="name" style="width:20%;float:left;padding-top:8px">Empresa</label>
                                        <div class="form-control" id="spnEmpresa" style="width:80%;border-left:none;border-top:none;border-right:none;float:left;">@ficha.Empresa</div>

                                    </div>
                                </div>
                                <div class="col-md-6" style="width:50%;float:left">
                                    <div class="form-group">
                                        <label for="name" style="width:32%;float:left;padding-top:8px">Ruc</label>
                                        <div class="form-control" id="spnRuc" style="width:68%;border-left:none;border-top:none;border-right:none;float:left;">@ficha.RUC</div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" style="width:50%;float:left">
                                    <div class="form-group">
                                        <label for="name" style="width:20%;float:left;padding-top:8px">Nombres</label>
                                        <div class="form-control" id="spnNombre" style="width:80%;border-left:none;border-top:none;border-right:none;float:left;">@ficha.Nombre</div>

                                    </div>
                                </div>
                                <div class="col-md-6" style="width:50%;float:left">
                                    <div class="form-group">
                                        <label for="name" style="width:32%;float:left;padding-top:8px">Apellido Paterno</label>
                                        <div class="form-control" id="spnApellidoPaterno" style="width:68%;border-left:none;border-top:none;border-right:none;float:left;">@ficha.ApellidoPaterno</div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" style="width:50%;float:left">
                                    <div class="form-group">
                                        <label for="name" style="width:32%;float:left;padding-top:8px">Apellido Materno</label>
                                        <div class="form-control" id="spnApellidoMaterno" style="width:68%;border-left:none;border-top:none;border-right:none;float:left;">@ficha.ApellidoMaterno</div>

                                    </div>
                                </div>
                                <div class="col-md-6" style="width:50%;float:left">
                                    <div class="form-group">
                                        <label for="document" style="width:20%;float:left;padding-top:8px">DNI/CE*:</label>
                                        <div class="form-control" id="spnDOI" style="width:80%;border-left:none;border-top:none;border-right:none;float:left;">@ficha.DOI</div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6" style="width:50%;float:left">
                                    <div class="form-group">
                                        <label for="name" style="width:18%;float:left;padding-top:8px">Celular:</label>
                                        <div class="form-control" id="spnCelular" style="width:82%;border-left:none;border-top:none;border-right:none;float:left;">@ficha.Celular</div>

                                    </div>
                                </div>
                                <div class="col-md-6" style="width:50%;float:left">
                                    <div class="form-group">
                                        <label for="name" style="width:20%;float:left;padding-top:8px">Dirección:</label>
                                        <div class="form-control" id="spnDireccion" style="width:80%;border-left:none;border-top:none;border-right:none;float:left;">@ficha.Direccion</div>

                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-6" style="width:50%;float:left">
                                    <div class="form-group">
                                        <label for="name" style="width:30%;float:left;padding-top:8px">Area de trabajo:</label>
                                        <div class="form-control" id="spnArea" style="width:70%;border-left:none;border-top:none;border-right:none;float:left;">@ficha.Area</div>

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12" style="width:100%;float:left">
                        <fieldset style="margin: 8px; border: 1px solid silver; padding: 8px; border-radius: 4px;">
                            <legend style="padding: 2px; ">
                                <b>Condiciones de Salud</b>
                            </legend>
                            <table class="table table-hover tablemodal" style="margin-bottom:2px">
                                <tr>
                                    <th width="48%"></th>
                                    <th style="width:20%" class="text-center">INGRESO</th>
                                    <th style="width:20%" class="text-center">SALIDA</th>
                                </tr>
                                <tr>
                                    <td>Control Temperatura (°C)</td>
                                    <td style="padding:8px;padding-left:12px;padding-right:12px">
                                        <div class="form-group" style="margin-bottom:0px;padding-left:2px;padding-right:2px">
                                            <div style="min-width:80px;text-align:center;border-top:none;border-left:none;border-right:none;float:left" class="form-control" id="spnTemperaturaIngreso">@ficha.TemperaturaIngreso</div>

                                        </div>
                                    </td>
                                    <td style="padding:8px;padding-left:12px;padding-right:12px">
                                        <div class="form-group" style="margin-bottom:0px;padding-left:2px;padding-right:2px">
                                            <div style="min-width: 80px; text-align: center;border-top:none;border-left:none;border-right:none;float:left" class="form-control" id="spnTemperaturaSalida">@ficha.TemperaturaSalida</div>

                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="3" style="padding-top: 12px;"><b>Signos de alarma por COVID-19</b></th>
                                </tr>
                                <tr>
                                    <td style="padding-left:15px">Tos o dolor de garganta</td>
                                    <td style="text-align:center">

                                        @if (@ficha.Signo1Ingreso)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}
                                    </td>
                                    <td style="text-align:center">
                                        @if (@ficha.Signo1Salida)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:15px">Malestar general</td>
                                    <td style="text-align:center">
                                        @if (@ficha.Signo2Ingreso)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}

                                    </td>
                                    <td style="text-align:center">
                                        @if (@ficha.Signo2Salida)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:15px">Fiebre</td>
                                    <td style="text-align:center">
                                        @if (@ficha.Signo3Ingreso)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}

                                    </td>
                                    <td style="text-align:center">
                                        @if (@ficha.Signo3Salida)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}


                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:15px">Cefalea</td>
                                    <td style="text-align:center">
                                        @if (@ficha.Signo4Ingreso)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}

                                    </td>
                                    <td style="text-align:center">
                                        @if (@ficha.Signo4Salida)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:15px">Dificultad para respirar</td>
                                    <td style="text-align:center">
                                        @if (@ficha.Signo5Ingreso)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}

                                    </td>
                                    <td style="text-align:center">
                                        @if (@ficha.Signo5Salida)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left:15px">Congestión nasal</td>
                                    <td style="text-align:center">
                                        @if (@ficha.Signo6Ingreso)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}

                                    </td>
                                    <td style="text-align:center">
                                        @if (@ficha.Signo6Salida)
                                        {<i class='fa fa-check-square-o' style='font-size:30px;'></i>}
                                        else
                                        {
                                            <i class='fa fa-square-o' style='font-size:30px;'></i>}

                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-12" style="width:60%;float:left;margin-top:6px;">

                        <div class="form-group form-check">
                            @if (!@ficha.Activo)
                            {<i class='fa fa-check-square-o' style='font-size:30px;float:left;margin-left:6px'></i>}
                            else
                            {
                                <i class='fa fa-square-o' style='font-size:30px;float:left;margin-left:6px'></i>}
                        <small class="text-justify" style="font-size:11px;float:left;position:absolute;margin-top:-2px;margin-left:10px">
                            <b>Acepto que todos los datos expresados en esta ficha constituyen Declaración Jurada de mi parte.</b>
                        </small>
    
                        </div>
                    </div>

                    <div class="col-md-3" style="width:40%;float:left">
                        <div class="form-group" style="margin-top:2px;">
                            <img src="data:image/png;base64,@ficha.Firma" class="" style="border: 1px solid silver;border-top: 1px solid silver;border-bottom: 1px solid silver;width: 98%" />

                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div><!-- /.container -->


    <script type="text/javascript" src="~/Content/assets/js/required/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/bootstrap/bootstrap.min.js"></script>


</body>
</html>





