@using S3k.Utilitario;
@{
    string fecha_archivos = ClaseEncriptacion.EncriptarCadenaHASH(Convert.ToString(DateTime.Now));
}
<!DOCTYPE html>
<html lang="es" translate="no">

<!-- Mirrored from livedemo.base5builder.com/circloid_2_html/default/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Jun 2018 17:14:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Fav and touch icons -->

    <link rel="shortcut icon" href="~/Content/assets/images/required/logo-default.ico">

    <title>Sorteos</title>

    <!-- Required CSS Files -->
    <link type="text/css" href="~/Content/assets/css/required/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @*<link href='~/fonts/fonts.googleapis/css2ca8.css?family=Roboto:400,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>*@
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.structure.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.theme.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/required/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/required/icheck/all.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/fonts/metrize-icons/styles-metrize-icons.min.css" rel="stylesheet">
    <link type="text/css" href="~/Content/assets/fonts/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/fonts/line-awesome-1.3.0/css/line-awesome.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/datatables/css/dataTables.min.css?v=@fecha_archivos" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/datatables/css/dataTables.tableTools.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/datatables/css/dataTables.responsive.min.css" rel="stylesheet" />
    <link href="~/Content/assets/js/optional/jqueryconfirm/jquery-confirm.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/bootstrap-toggle.min.css" rel="stylesheet" />
    <!-- Optional CSS Files -->

    <link type="text/css" href="~/Content/assets/css/optional/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/fullcalendar/circloid-fullcalendar.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/fullcalendar/fullcalendar.print.min.css" rel="stylesheet" media="print" />
    <link type="text/css" href="~/Content/assets/css/optional/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/select2.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/bootstrapValidator.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/optional/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/optional/jquery-confirm.min.css" rel="stylesheet" />

    <!-- add CSS files here -->
    <link type="text/css" href="~/Content/menu-square/assets/menu-square.css" rel="stylesheet" />

    <!-- More Required CSS Files -->
    <link type="text/css" href="~/Content/assets/css/styles-core.min.css?v=@fecha_archivos" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/styles-core-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/print.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/assets/css/v2_.css?v=@fecha_archivos" rel="stylesheet" />
    <link href="~/Content/assets/css/floatingbutton.css" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/assets/js/required/misc/ie10-viewport-bug-workaround.js"></script>

    <!--[if IE 7]>
    <link type="text/css" href="~/Content/assets/css/required/misc/style-ie7.css" rel="stylesheet">
    <script type="text/javascript" src="~/Content/assets/fonts/lte-ie7.js"></script>
    <![endif]-->
    <!--[if IE 8]>
    <link type="text/css" href="~/Content/assets/css/required/misc/style-ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript" src="~/Content/assets/css/required/misc/excanvas.min.js"></script>
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .header-box {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 5px 25px;
            /* background: #0D0F16;*/
        }

        .h-brand-box {
            position: relative;
        }

        .h-dateclock-box {
            margin-left: 5px;
        }

            .h-dateclock-box .h-date-text, .h-dateclock-box .h-clock-text {
                color: #FFFFFF;
                font-size: 12px;
                line-height: 15px;
            }

        .h-menu-square-box {
            position: relative;
        }

            .h-menu-square-box .navbar-toggle {
                margin: 0;
                background-color: #12141C;
                border-color: rgba(255, 255, 255, 0.5);
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -o-transition: all 0.2s;
                transition: all 0.2s;
                border-radius: 2px !important;
            }

                .h-menu-square-box .navbar-toggle:hover {
                    background-color: #B20000;
                    border-color: #FFFFFF;
                }

        .h-brand-box img {
            width: 130px;
            height: auto;
            max-width: 100%;
        }

        .h-account-box {
            padding: 0 5px;
            margin-left: auto;
        }

            .h-account-box .header-profile {
                display: block;
                margin: 0;
            }

                .h-account-box .header-profile a {
                    line-height: 15px;
                }

                    .h-account-box .header-profile a span.main-menu-text {
                        display: inline-block;
                        padding: 0;
                        text-align: right;
                        margin-right: 5px;
                        max-width: 125px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    .h-account-box .header-profile a.top i.icon {
                        line-height: 0;
                    }

                    .h-account-box .header-profile a.top {
                        display: flex;
                        align-items: center;
                    }

        .h-navbar-toggle-box {
            display: none !important;
        }

        .block h1, .block .h1 {
            display: flex;
            align-items: center;
            margin: 2px 0;
        }

            .block h1 .icon, .block .h1 .icon {
                margin: 0;
                margin-right: 5px;
            }

            .block h1 .main-text, .block .h1 .main-text {
                font-size: 16px;
                font-weight: 700;
                color: #143958;
            }

        @@media (max-width: 767px) {
            .header-box {
                padding: 5px 10px;
            }

            .h-account-box .main-menu-text {
                font-size: 12px;
            }

            .h-dateclock-box {
                margin-left: 10px;
            }

                .h-dateclock-box .h-date-text, .h-dateclock-box .h-clock-text {
                    font-size: 11px;
                }
        }

        @@media (max-width: 480px) {
            .h-account-box .menu-open > ul {
                top: 48px !important;
            }

            .block h1 .main-text, .block .h1 .main-text {
                font-size: 14px;
            }
        }

        /*//////////////////////////////////boton floating//////////////////////////////////////*/

        .box-abort-request {
            position: fixed;
            bottom: 15px;
            right: -100%;
            z-index: 999999;
            visibility: hidden;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
        }

            .box-abort-request.bar-open {
                visibility: visible;
                right: 15px;
            }

        .btn-abort-request {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            padding: 7px 14px;
            color: #000000;
            background-color: #FFFFFF;
            outline: none;
            border: 1px solid #FFFFFF;
            border-radius: 5px !important;
        }

            .btn-abort-request:hover {
                background-color: #000;
                color: #FFF;
            }
    </style>

    @if (IsSectionDefined("css"))
    {
        @RenderSection("css", required: false)
    }
</head>
<body>
    <div id="BasePath" class="hidden">http://@((Request.Url.Authority + Request.ApplicationPath).TrimEnd('/'))/</div>
    <input type="hidden" id="SessionTimeout" value="@System.Web.HttpContext.Current.Session.Timeout" />
    <div class="container-fluid">
        <!-- START Body Container -->
        <div id="body-container">
            <!-- START Right Column -->
            <div id="right-column" style="margin: 0 !important">
                <div class="right-column-content">
                    @RenderBody()
                </div>
                <!-- START Footer Container -->
                <div id="footer-container">
                    <div class="footer-content">
                        &copy; <a href="#">Seguridad</a> was made with <span style="color:#FF0000;">&#10084;</span> and supported by -
                        <a href="#" target="_blank" style="font-weight:300;color:#ffffff;background:#1d1d1d;padding:0 3px;">Gladcon<span style="color:#ffa733;font-weight:bold">Group</span></a>
                    </div>
                </div>
                <!-- END Footer Container -->

            </div>
            <!-- END Right Column -->

        </div>
        <!-- END Body Container -->
    </div><!-- /.container -->
    @RenderSection("modal", required: false)
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Required JS Files -->
    <script src="~/Content/assets/js/required/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/jquery-ui-1.11.0.custom/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/jquery.easing.1.3-min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/misc/jquery.mousewheel-3.0.6.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/jquery.mCustomScrollbar.min.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/required/misc/retina.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/icheck.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/required/misc/jquery.ui.touch-punch.min.js"></script>
    <!-- Optional JS Files -->

    <script type="text/javascript" src="~/Content/assets/js/optional/misc/moment.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/select2.full.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/loadingoverlay/loadingoverlay.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/datatables/js/jquery.dataTables.min.js?v=@fecha_archivos"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/datatables/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/datatables/js/dataTables.tableTools.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/datatables/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/toastr.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/jquery-confirm.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/required/circloid-functions.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/optional/circloid-functions-optional.js"></script>

    <!-- add JS plugin files here -->
    <script type="text/javascript" src="~/Content/menu-square/assets/menu-square.js?v=@fecha_archivos"></script>

    <!-- REQUIRED: User Editable JS Files -->
    <script type="text/javascript" src="~/Content/assets/js/script.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/general.js?v=@fecha_archivos"></script>
    <!-- add js token progresivo -->

    <!-- add additional User Editable files here -->
    @RenderSection("js", required: false)
</body>

</html>
