
@{
    ViewBag.Title = "MaquinaInoperativaAprobarSolicitudVista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Activities.Expressions
@using System.Web.Script.Serialization
@using System.Web.UI.WebControls
@using S3k.Utilitario;

@{
    String maquinaInoperativa = new JavaScriptSerializer().Serialize(ViewBag.maquinaInoperativa);
    String listaProblemas = new JavaScriptSerializer().Serialize(ViewBag.listaProblemas);
    String listaCategoriaProblemas = new JavaScriptSerializer().Serialize(ViewBag.listaCategoriaProblemas);
    String listaPiezas = new JavaScriptSerializer().Serialize(ViewBag.listaPiezas);
    String listaRepuestos = new JavaScriptSerializer().Serialize(ViewBag.listaRepuestos);
    String listaProblemasArray = new JavaScriptSerializer().Serialize(ViewBag.listaProblemasArray);
}
<script type="text/javascript">
    maquinaInoperativa = (@Html.Raw(maquinaInoperativa));
    listaProblemas = (@Html.Raw(listaProblemas));
    listaCategoriaProblemas = (@Html.Raw(listaCategoriaProblemas));
    listaPiezas = (@Html.Raw(listaPiezas));
    listaRepuestos = (@Html.Raw(listaRepuestos));
    listaProblemasArray = (@Html.Raw(listaProblemasArray));
</script>

@section css
{
    <style type="text/css">
        .select2-container .select2-selection--single {
            height: 27px !important;
        }

        .select2-container .select2-selection--multiple {
            min-height: 27px !important;
            max-height: 27px !important;
        }

        .select2-container .select2-selection--multiple {
            overflow-y: scroll;
        }

        .cardMachine {
            border-radius: 7px !important;
            background-color: white;
            padding: 15px 15px;
        }

        .sectionCard {
            border: solid #a1a1a1 1px;
            border-radius: 7px !important;
            padding: 15px 1px;
            margin-bottom: 15px;
        }

        .collapsed {
            box-shadow: none !important;
        }

        .block.collapsed .block-heading .block-controls .icon.block-control-collapse {
            color: black !important;
        }

        .block {
            box-shadow: none !important;
        }

        .zon {
            background-color: white !important;
            border-bottom: none !important;
            background: none !important;
        }

        .infomaq {
            display: flex;
            flex-direction: column;
        }

        .maqContain {
            box-shadow: 0px 1px 5px -1px rgba(128,128,128,0.75);
            padding: 5px 15px;
            border-radius: 5px !important;
            justify-content: center;
            display: flex;
            align-items: center;
            background-color: #81b0ff1f;
            margin-bottom: 7px;
        }

        .titleMaq {
            font-weight: bold;
            color: #05256e;
            justify-content: center;
            display: flex;
        }

        .textMaq {
            color: #6d6d6d;
            text-shadow: none !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @@media (max-width: 500px) {
            .cardMachine {
                padding: 2px;
            }

            .right-column-content {
                padding: 8px !important;
            }

            .input-group-addon {
                font-size: .7rem;
            }
        }
    </style>

    <style>
        .sorting, .sorting_disabled, .sorting_asc, .sorting_desc {
            background-color: #0b1f46 !important;
            height: 40px;
        }

        tr {
            height: 34px;
        }

        .even {
            background-color: white !important;
        }
    </style>
}

<div class="row">
    <div class="col-md-6">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <h1>
                                <span aria-hidden="true" class="icon icon-shield"></span>
                                <span class="main-text">
                                    Detalle de Maquina Inoperativa - Atendida Operativa
                                </span>
                            </h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <div class="row">

                        <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-6 pull-right">
                            <button type="button" class="btn btn-success btn-sm col-md-12 col-sm-12 col-xs-12 btnListar"><span class="glyphicon glyphicon-list-alt"></span> Listado </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="block">
            <div class="block-content-outer">
                <div class="block-content-inner ">
                    <form id="frmRegistroMaquinaInoperativa" style="padding:5px 5px;">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 ">
                                <div class="cardMachine" style="margin-bottom:15px;">
                                    <fieldset class="sectionCard" style="padding: 10px 7px; margin-top: 10px; ">
                                        <h3 style="margin-bottom:13px;" padding:0;">Sala</h3>
                                        <div class="col-md-12 col-sm-12" style="padding:0;">
                                            <div class="input-group form-group ">
                                                <span class="input-group-addon">
                                                    Sala
                                                </span>
                                                <select id="cboSala" class="form-control input-sm select" name="codSala" disabled>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="sectionCard" style="padding: 10px 7px; margin-top: 10px; ">
                                        <h3 style="margin-bottom:13px;" padding:0;">Maquina</h3>
                                        <div class="col-md-12 col-sm-12" style="padding:0;">
                                            <div class="input-group form-group ">
                                                <span class="input-group-addon">
                                                    Maquina
                                                </span>
                                                <select id="cboMaquina" class="form-control input-sm select" name="codMaquina" disabled>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset class="sectionCard" style="padding: 10px 7px; margin-top: 10px; ">
                                        <h5>Información de la máquina</h5>

                                        <div class="block block-size-normal collapsed" style="margin:0;">
                                            <div class="block-heading highlight-color-red" style="padding:0 !important;display:flex; justify-content:space-between; align-items:center;">
                                                <div class="infomaq">
                                                    <div>
                                                        <p style="font-weight: bold; color: #05256e;margin-top:15px;">  Modelo</p>
                                                    </div>
                                                    <p id="mod"></p>
                                                </div>
                                                <div class="block-controls">
                                                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                                                </div>
                                            </div>
                                            <div class="block-content-outer zon" style="display: none;">
                                                <div class="">
                                                    <div class="row">
                                                        <div class="col-md-12" style="padding:0; ">

                                                            <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 maqContain">
                                                                <div class="infomaq">
                                                                    <div>
                                                                        <p class="titleMaq"> <span class="glyphicon glyphicon-resize-horizontal" style="color: #05256e;margin-right:3px;"></span> Linea</p>
                                                                    </div>
                                                                    <p id="lin" class="textMaq"></p>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 maqContain">

                                                                <div class="infomaq">
                                                                    <div>
                                                                        <p class="titleMaq"> <span class="glyphicon glyphicon glyphicon-tower" style="color: #05256e; margin-right: 3px; "></span>Sala</p>
                                                                    </div>
                                                                    <p id="sal" class="textMaq"></p>
                                                                </div>

                                                            </div>


                                                            <div class=" col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 maqContain">
                                                                <div class="infomaq">
                                                                    <div>
                                                                        <p class="titleMaq">  <span class="glyphicon glyphicon glyphicon-user" style="color: #05256e; margin-right: 3px; "></span>Juego</p>
                                                                    </div>
                                                                    <p id="jue" class="textMaq"> </p>
                                                                </div>
                                                            </div>
                                                            <div class=" col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 maqContain">

                                                                <div class="infomaq">
                                                                    <div>
                                                                        <p class="titleMaq"> <span class="glyphicon glyphicon glyphicon-th-large" style="color: #05256e; margin-right: 3px; "></span>Numero de serie</p>
                                                                    </div>
                                                                    <p id="numse" class="textMaq"></p>

                                                                </div>
                                                            </div>


                                                            <div class=" col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 maqContain">
                                                                <div class="infomaq">
                                                                    <div>
                                                                        <p class="titleMaq">  <span class="glyphicon glyphicon glyphicon-user" style="color: #05256e; margin-right: 3px; "></span>Propietario</p>
                                                                    </div>
                                                                    <p id="pro" class="textMaq"> </p>
                                                                </div>
                                                            </div>
                                                            <div class=" col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 maqContain">

                                                                <div class="infomaq">
                                                                    <div>
                                                                        <p class="titleMaq"> <span class="glyphicon glyphicon glyphicon-th-large" style="color: #05256e; margin-right: 3px; "></span>Ficha</p>
                                                                    </div>
                                                                    <p id="fic" class="textMaq"></p>

                                                                </div>
                                                            </div>

                                                            <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 maqContain">
                                                                <div class="infomaq">
                                                                    <div>
                                                                        <p class="titleMaq"> <span class="glyphicon glyphicon glyphicon-tags" style="color: #05256e; margin-right: 3px; "></span>Marca</p>
                                                                    </div>
                                                                    <p id="mar" class="textMaq"> </p>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-md-12 col-lg-12 col-xl-12 maqContain">
                                                                <div class="infomaq">
                                                                    <div>
                                                                        <p class="titleMaq"> <span class="glyphicon glyphicon glyphicon-lock" style="color: #05256e; margin-right: 3px; "></span>Token</p>
                                                                    </div>
                                                                    <p id="tok" class="textMaq"></p>

                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset style="display:none;">
                                        <h5 style="margin-left:15px;margin-bottom:13px;">Informacion de la maquina</h5>

                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Linea
                                                </span>
                                                <input type="text" class="form-control input-sm toUpperCase" id="Linea" name="Linea" placeholder="Linea" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Nro. Serie
                                                </span>
                                                <input type="text" class="form-control input-sm toUpperCase" id="NroSerie" name="NroSerie" placeholder="Nro. Serie" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Juego
                                                </span>
                                                <input type="text" class="form-control input-sm toUpperCase" id="Juego" name="Juego" placeholder="Juego" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Sala
                                                </span>
                                                <input type="text" class="form-control input-sm toUpperCase" id="Sala" name="Sala" placeholder="Sala" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Modelo
                                                </span>
                                                <input type="text" class="form-control input-sm toUpperCase" id="Modelo" name="Modelo" placeholder="Modelo" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Propietario
                                                </span>
                                                <input type="text" class="form-control input-sm toUpperCase" id="Propietario" name="Propietario" placeholder="Propietario" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Ficha
                                                </span>
                                                <input type="text" class="form-control input-sm toUpperCase" id="Ficha" name="Ficha" placeholder="Ficha" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Marca
                                                </span>
                                                <input type="text" class="form-control input-sm toUpperCase" id="Marca" name="Marca" placeholder="Marca" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Token
                                                </span>
                                                <input type="text" class="form-control input-sm toUpperCase" id="Token" name="Token" placeholder="Token" disabled>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-12  p-2">
                                <div class="cardMachine">

                                    <!--<fieldset class="sectionCard">
                                    <h3 style="margin-left:15px;margin-bottom:13px;">Datos Generales</h3>
                                    <div class="col-md-12 col-lg-6 col-sm-12">
                                        <div class="input-group form-group">
                                            <span class="input-group-addon">
                                                Estado
                                            </span>
                                            <select id="cboEstado" class="form-control input-sm select" name="estado" disabled>
                                                <option value="">--Seleccione--</option>
                                                <option value="1">Op. Problemas</option>
                                                <option value="2">Inoperativa</option>
                                                <option value="3">Atendida en Sala</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-sm-12">
                                        <div class="input-group form-group">
                                            <span class="input-group-addon">
                                                Prioridad
                                            </span>
                                            <select id="cboPrioridad" class="form-control input-sm select" name="prioridad" disabled>
                                                <option value="">--Seleccione--</option>
                                                <option value="1">Baja</option>
                                                <option value="2">Media</option>
                                                <option value="3">Alta</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group form-group">
                                            <span class="input-group-addon">
                                                Tecnico
                                            </span>
                                            <input type="text" class="form-control input-sm toUpperCase" id="Tecnico" name="Tecnico" placeholder="Tecnico" disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <div class="input-group form-group">
                                            <span class="input-group-addon">
                                                Observaciones
                                            </span>
                                            <textarea type="text" class="form-control input-sm toUpperCase" id="Observaciones" name="Observaciones" placeholder="Observaciones" disabled></textarea>-->
                                    @*<input type="text" class="form-control input-sm toUpperCase" id="Observaciones" name="Observaciones" placeholder="Observaciones">*@
                                    <!--</div>
                                        </div>


                                    </fieldset>

                                    <fieldset class="sectionCard">
                                        <h3 style="margin-left:15px;margin-bottom:13px;">Datos de Atencion</h3>
                                        <div class="col-md-12 col-lg-6 col-sm-12">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Estado Atencion
                                                </span>
                                                <select id="cboAtencion" class="form-control input-sm select" name="atencion" disabled>
                                                    <option value="">--Seleccione--</option>
                                                    <option value="1">Atendida Operativa</option>
                                                    <option value="2">Atendida Inoperativa</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-6 col-sm-12">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Tecnico
                                                </span>
                                                <input type="text" class="form-control input-sm toUpperCase" id="TecnicoAtencion" name="TecnicoAtencion" placeholder="Tecnico" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <div class="input-group form-group">
                                                <span class="input-group-addon">
                                                    Observaciones
                                                </span>
                                                <textarea type="text" class="form-control input-sm toUpperCase" id="ObservacionAtencion" name="ObservacionAtencion" placeholder="Observaciones" disabled></textarea>-->
                                    @*<input type="text" class="form-control input-sm toUpperCase" id="Observaciones" name="Observaciones" placeholder="Observaciones">*@
                                    <!--</div>
                                        </div>


                                    </fieldset>
                                    <fieldset class="sectionCard">
                                        <h3 style="margin-left:15px;margin-bottom:13px;">Lista de Problemas</h3>
                                        <div class="col-md-12 col-sm-12 divProblena">
                                            <div class="row">
                                                <div class=" col-md-12">
                                                    <table id="tableProblema" class="table table-striped table-bordered table-hover table-condensed highlight-color-red">
                                                        <thead>
                                                            <tr style="background-color: #0b1f46;">
                                                                <th>CodProblema</th>
                                                                <th>Nombre</th>
                                                                <th>Descripcion</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="sectionCard">
                                        <h3 style="margin-left:15px;margin-bottom:13px;">Lista de Piezas</h3>
                                        <div class="col-md-12 col-sm-12 divPieza">
                                            <div class="row">
                                                <div class=" col-md-12">
                                                    <table id="tablePieza" class="table table-striped table-bordered table-hover table-condensed highlight-color-red">
                                                        <thead>
                                                            <tr style="background-color: #0b1f46;">
                                                                <th>CodPieza</th>
                                                                <th>Nombre</th>
                                                                <th>Descripcion</th>
                                                                <th>Cantidad</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>-->

                                    <fieldset class="sectionCard" id="sectionRepuestosTraspaso">
                                        <h3 style="margin-left:15px;margin-bottom:13px;">Lista de repuestos - Traspasos</h3>

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class=" col-md-12">
                                                    <table id="tableRepuesto" class="table table-striped table-bordered table-hover table-condensed highlight-color-red">
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    @*<fieldset class="sectionCard" id="sectionRepuestosCompra">
                                        <h3 style="margin-left:15px;margin-bottom:13px;">Lista de repuestos - Compras</h3>

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class=" col-md-12">
                                                    <table id="tableRepuestoCompra" class="table table-striped table-bordered table-hover table-condensed highlight-color-red">
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>*@

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>





@section js
{
    <script src="~/Content/assets/viewsjs/MaquinasInoperativas/MaquinaInoperativaAprobarSolicitudVista.js"></script>
}