
@using S3k.Utilitario
@using CapaEntidad.SatisfaccionCliente.DTO.Mantenedores
@model ESC_PreguntaDto
@{
    Layout = null;
    string fecha_archivos = ClaseEncriptacion.EncriptarCadenaHASH(Convert.ToString(DateTime.Now));
}

<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px !important;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

        input:checked + .slider:before {
            transform: translateX(26px);
        }

    #Texto {
        resize: vertical;
    }
</style>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" id="div">
        <form class="medium bv-form" role="form" method="post" action="#" id="form_registro">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />
            <input type="hidden" name="Estado" value="(@Model.Estado?1:0)" />
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <input type="hidden" id="CodSala" name="sdfsdfsd" value="@Model.Sala.CodSala" />
                        <span class="input-group-addon">Sala</span>
                        <select class="form-control input-sm" id="cboSalaPreguntas" name="CodSala"></select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            Texto
                        </span>
                        <textarea class="form-control input-sm" id="Texto" name="Texto" placeholder="Ingrese la pregunta">@Model.Texto</textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Es Obligatoria</span>
                        <div class="input-group-addon">
                            <label class="switch">
                                <input type="checkbox" name="EsObligatoria" id="toggleEsObligatoria" @(Model.EsObligatoria?"checked":"") >
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Content/assets/viewsjs/SatisfaccionCliente/Preguntas/preguntaGuardar.js?v=@fecha_archivos"></script>